
h1 {
    color: #6757d9;
    margin-bottom: 50px;
    font-size: 2.5rem;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
}

a {
    background-color: #fff;
    font-size: 1.5rem;
    color: #6757d9;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 20px 40px;
    transition: all 0.2s ease-in;
}

a:hover {
    background-color: #6757d9;
    color: #fff;
}